USE [DW]
GO
/****** Object:  View [dw_dmt].[VW_FATO_PAGAMENTO]    Script Date: 08/10/2023 15:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dw_dmt].[VW_FATO_PAGAMENTO] 
as (
	select 
			dt.SK_DIM_TEMPO 
			,tp.SK_DIM_TIPO_PAGAMENTO
			,be.SK_DIM_BENEFICIARIO
			,VALOR_RECEBIMENTO AS VALOR_PAGAMENTO
			,SALDO_TOTAL
	from dw_ods.VW_ODS_PAGAMENTO OP
	LEFT join dw_dmt.DIM_TIPO_PAGAMENTO tp on op.TIPO_RECEBIMENTO = tp.TIPO_PAGAMENTO
	LEFT join dw_dmt.DIM_BENEFICIARIO be on op.NOME_BENEFICIARIO = be.NOME_BENEFICIARIO
	LEFT join dw_dmt.DIM_TEMPO dt on dt.DATA = op.DATA_RECEBIMENTO

)
GO
