USE [DW]
GO
/****** Object:  Table [dw_dmt].[FATO_PAGAMENTO]    Script Date: 08/10/2023 15:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw_dmt].[FATO_PAGAMENTO](
	[SK_DIM_TEMPO] [int] NOT NULL,
	[SK_DIM_TIPO_PAGAMENTO] [int] NOT NULL,
	[SK_DIM_BENEFICIARIO] [int] NOT NULL,
	[VALOR_PAGAMENTO] [numeric](15, 2) NULL,
	[SALDO_TOTAL] [numeric](15, 2) NULL,
	[DATA_CARGA] [datetime] NULL
) ON [PRIMARY]
GO
