USE [DW]
GO
/****** Object:  Table [dw_dmt].[DIM_DEVEDOR]    Script Date: 08/10/2023 15:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw_dmt].[DIM_DEVEDOR](
	[SK_DIM_DEVEDOR] [int] IDENTITY(1,1) NOT NULL,
	[NOME_DEVEDOR] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SK_DIM_DEVEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
