USE [DW]
GO
/****** Object:  Table [dw_dmt].[DIM_TEMPO]    Script Date: 08/10/2023 15:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw_dmt].[DIM_TEMPO](
	[SK_DIM_TEMPO] [int] IDENTITY(1,1) NOT NULL,
	[DATA] [date] NOT NULL,
	[ANO] [smallint] NOT NULL,
	[MES] [smallint] NOT NULL,
	[DIA] [smallint] NOT NULL,
	[DIA_SEMANA] [smallint] NOT NULL,
	[DIA_ANO] [smallint] NOT NULL,
	[ANO_BISSEXTO] [char](1) NOT NULL,
	[DIA_UTIL] [char](1) NOT NULL,
	[FIM_SEMANA] [char](1) NOT NULL,
	[FERIADO] [char](1) NOT NULL,
	[PRE_FERIADO] [char](1) NOT NULL,
	[POS_FERIADO] [char](1) NOT NULL,
	[NOME_FERIADO] [varchar](30) NULL,
	[NOME_DIA_SEMANA] [varchar](15) NOT NULL,
	[NOME_DIA_SEMANA_ABREV] [char](3) NOT NULL,
	[NOME_MES] [varchar](15) NOT NULL,
	[NOME_MES_ABREV] [char](3) NOT NULL,
	[QUINZENA] [smallint] NOT NULL,
	[BIMESTRE] [smallint] NOT NULL,
	[TRIMESTRE] [smallint] NOT NULL,
	[SEMESTRE] [smallint] NOT NULL,
	[NR_SEMANA_MES] [smallint] NOT NULL,
	[NR_SEMANA_ANO] [smallint] NOT NULL,
	[ESTACAO_ANO] [varchar](15) NOT NULL,
	[DATA_POR_EXTENSO] [varchar](50) NOT NULL,
	[EVENTO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SK_DIM_TEMPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
